body{
    background-image: url("https://images8.alphacoders.com/589/thumb-1920-589125.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
}
h1{
    text-align:center;
    text-decoration:underline;
    text-transform: uppercase;
    color: chartreuse;
}
label{
    color:greenyellow;
    
}