body{
    background-image: url("https://images8.alphacoders.com/589/thumb-1920-589125.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
}
h1{
    text-align:center;
    text-decoration:underline;
    text-transform: uppercase;
    color: chartreuse;
    margin-bottom: 50px;
}
label[id="lb"]{
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
label[id="tb"]{
    text-align: center;
    margin-bottom: 5px;
    text-decoration:underline;
    text-transform: uppercase;
    font-weight: bold;
    color: chartreuse;
}
input[type="text"],input[type="number"]{
    border-radius: 5px;
    margin-bottom: 20px;
    height: 30px;
    width: 200px;
}
input[type="password"]{
    border-radius: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 400px;
}
select{
    border-radius: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 200px;
}
textarea{
    border-radius: 5px;
    margin-bottom: 10px;
    height: 100px;
    width: 400px;
}
button{
    border-radius: 5px;
    color:red;
    background-color: gold;
    padding: 7px 20px;
    margin-bottom: 10px;
}
form{
    text-align: center;
    width: 60%;
    margin: 20px auto;               /* căn giữa */
    padding: 10px;
    background: rgba(237, 234, 239, 0.237); /* nền mờ */
    border: 1px solid #f5069d;       /* màu viền */
    border-radius: 15px;             /* bo góc */
    backdrop-filter: blur(10px);     /* hiệu ứng mờ */
    box-shadow: 0 0 15px rgba(0,0,0,0.3); /* đổ bóng */
}